name: End to End

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  empty:
    runs-on: ubuntu-latest
    name: test the empty template
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Run end-to-end tests in nix environment
        shell: nix shell nixpkgs#direnv --quiet --command bash {0}
        run: |
          echo "Current dir: $GITHUB_WORKSPACE"
          mkdir end-to-end && cd end-to-end
          nix flake init --template github:whisperpine/dev-templates#empty
          nix develop && exit # test "nix develop" command
          git -C "$GITHUB_WORKSPACE" add -A # track files by git
          direnv allow . && eval "$(direnv hook bash)" # test "direnv"
