name: End to End

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  template-empty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run end-to-end tests in nix environment
        uses: ./.github/actions/end-to-end
        with:
          name: empty
